h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
}
footer {
  text-align: center;
  color: green;
}

.photo {
  margin: 20px;
}
body {
  background-color: rgb(238, 206, 124);
}
img {
  max-width: 100%;
  height: auto;
  margin: 20px;
}
footer :visited {
  color: green;
}
